# Ignore node_modules directory
node_modules/

# Ignore compiled JavaScript files
dist/

# Ignore any files or directories generated during development
.vscode/
.cache/
.DS_Store

# Ignore any sensitive information or credentials
.env*